<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ahern.livinghelper">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".base.LivingHelperApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <meta-data
            android:name="history_key"
            android:value="221fa66862709115b42396c798ff67ee"/>

        <activity
            android:name=".main.SplashActivity"
            android:theme="@style/NotitleTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".main.MainActivity">
        </activity>
        <activity android:name=".recreation.history.ui.HistoryActivity">
        </activity>
        <activity android:name=".recreation.history.ui.HistoryDetailActivity">
        </activity>
    </application>

</manifest>